<div class='booyah-box'>
	<div class='row'>
		<div class='col-4'>
			<%= image_tag 'user.png', alt: "user icon" %>
		</div>
		<div class='col-8'>

			h1> <%= @user.email %> </h1>
			<p>
				Member since: <%= @user.created_at.strftime("%B %d, %y") %>
			</p>
			<p>
				<%= @user.comments.count %> total comments
			</p>
			<p>
				<%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews
			</p>
		</div>
	  <div class="clear"></div>
	</div>
<br /><br />
<h1 class="text-center">My Comments</h1>
<br /><br />
<% @user.comments.each do |comment| %>
<div class="col-12 col-sm-6">
	      <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
  <blockquote>
    <% if comment.humanized_rating.present? %>
      <b><%= comment.humanized_rating %></b> -
    <% end %>
    <%= comment.message %>
    <small><%= comment.user.email %></small>
  </blockquote>
</div>
<% end %>
